<div class="container">
  <!-- alert message -->
  <div *ngIf="alert" class="alert alert-success alert-dismissible fade show" role="alert" style="margin-top: 20px;">
    <strong>Successfully submited!</strong> Your data has been successfully submit.
    <button (click)="off()" type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span>&times;</span>
    </button>
  </div>
    <form [formGroup]="form" (ngSubmit)="submit()">
        <h3 style="text-align: center;">Add Employee</h3>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputEmail4">Name</label>
            <input type="text" class="form-control" required formControlName="name" placeholder="Name">
          </div>
          <div class="form-group col-md-6">
           <label for="email">Email</label>
           <input type="eamil" class="form-control" formControlName="email" placeholder="Email">
          </div>
        </div>
        <div class="form-row">
        <div class="form-group col-md-6">
            <label for="inputPassword4">Department</label>
            <select class="form-control" formControlName="department">
                <option selected>Choose..</option>
                <option value="Functional departmentalization">Functional departmentalization</option>
                <option value="Product departmentalization">Product departmentalization</option>
                <option value="Customer departmentalization">Customer departmentalization</option>
                <option value="Geographical departmentalization">Geographical departmentalization</option>
                <option value="Process departmentalization">Process departmentalization</option>
            </select>
        </div>
        <div class="form-group col-md-6">
            <label for="gender">Gender</label>
            <select class="form-control" formControlName="gender">
                <option selected>Choose..</option>
                <option value="Male">Male</option>
                <option value="Female">Female</option>
            </select>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="phone">Phone No.</label>
            <input type="text" class="form-control" formControlName="phone" placeholder="Phone No.">
          </div>
          <div class="form-group col-md-3">
              <label for="status">Status</label>
              <select class="form-control" formControlName="status">
                <option selected>Choose..</option>
                <option value="Worker">Worker</option>
                <option value="Employee">Employee</option>
                <option value="Self-employee">Self-employee</option>
            </select>
          </div>
          <div class="form-group col-md-3">
              <label for="date">Join Date</label>
              <input class="form-control" type="datetime-local" formControlName="date">
          </div>
        </div>
        <button type="submit" [disabled]="!form.valid" class="btn btn-outline-primary">Submit</button>
        <a style="margin-left: 10px;" routerLink="/list">Go to home</a>
      </form>
</div>